// $purple-dark: #2f004d;
// $purple: #470073;
// $purple-light: #5f0a73;
// $pink-dark: #bf1d73;
// $pink: #f02e68;
// $pink-light: #faa8ed;
// $pink-2: #ff48a8;
// $pink-3: #f50f89;
// $pink-3: #ed076f;
$Spartan: 'League Spartan , sans-serif';

$blue-1: #003388ff;
$blue-2: #004499ff;
$blue-3: #0055aaff;
$blue-4: #0066bbff;
$blue-5: #0077ccff;
$blue-6: #1188ddff;
$blue-7: #2299eeff;
$blue-8: #33aaffff;

$purple-1: rgba(16, 0, 43, 1);
$purple-2: rgba(36, 0, 70, 1);
$purple-3: rgba(60, 9, 108, 1);
$purple-4: rgba(90, 24, 154, 1);
$purple-5: rgba(123, 44, 191, 1);
$purple-6: rgba(157, 78, 221, 1);
$purple-7: rgba(199, 125, 255, 1);
$purple-8: rgba(224, 170, 255, 1);


$pink-1: rgba(175, 49, 86, 1);
$pink-2: rgba(211, 59, 105, 1);
$pink-3: rgba(255, 71, 126, 1);
$pink-4: rgba(255, 112, 150, 1);
$pink-5: rgba(255, 153, 172, 1);
$pink-6: rgba(251, 177, 189, 1);
$pink-7: rgba(247, 202, 208, 1);
$pink-8: rgba(250, 224, 228, 1);

$yellow-1: #ff9500ff;
$yellow-2: #ffa200ff;
$yellow-3: #ffaa00ff;
$yellow-4: #ffb700ff;
$yellow-5: #ffc300ff;
$yellow-6: #ffd000ff;
$yellow-7: #ffdd00ff;
$yellow-8: #ffea00ff;
/* SCSS Gradient */
/* SCSS Gradient */
$gradient-purple-top: linear-gradient(0deg, #10002bff, #240046ff, #3c096cff, #5a189aff, #7b2cbfff, #9d4eddff, #c77dffff, #e0aaffff);
$gradient-purple-right: linear-gradient(90deg, #10002bff, #240046ff, #3c096cff, #5a189aff, #7b2cbfff, #9d4eddff, #c77dffff, #e0aaffff);
$gradient-purple-bottom: linear-gradient(180deg, #10002bff, #240046ff, #3c096cff, #5a189aff, #7b2cbfff, #9d4eddff, #c77dffff, #e0aaffff);
$gradient-purple-left: linear-gradient(270deg, #10002bff, #240046ff, #3c096cff, #5a189aff, #7b2cbfff, #9d4eddff, #c77dffff, #e0aaffff);
$gradient-purple-top-right: linear-gradient(45deg, #10002bff, #240046ff, #3c096cff, #5a189aff, #7b2cbfff, #9d4eddff, #c77dffff, #e0aaffff);
$gradient-purple-bottom-right: linear-gradient(135deg, #10002bff, #240046ff, #3c096cff, #5a189aff, #7b2cbfff, #9d4eddff, #c77dffff, #e0aaffff);
$gradient-purple-top-left: linear-gradient(225deg, #10002bff, #240046ff, #3c096cff, #5a189aff, #7b2cbfff, #9d4eddff, #c77dffff, #e0aaffff);
$gradient-purple-bottom-left: linear-gradient(315deg, #10002bff, #240046ff, #3c096cff, #5a189aff, #7b2cbfff, #9d4eddff, #c77dffff, #e0aaffff);
$gradient-purple-radial: radial-gradient(#10002bff, #240046ff, #3c096cff, #5a189aff, #7b2cbfff, #9d4eddff, #c77dffff, #e0aaffff);
$gradient-pink-top: linear-gradient(0deg, #af3156ff, #d33b69ff, #ff477eff, #ff7096ff, #ff99acff, #fbb1bdff, #f7cad0ff, #fae0e4ff);
$gradient-pink-right: linear-gradient(90deg, #af3156ff, #d33b69ff, #ff477eff, #ff7096ff, #ff99acff, #fbb1bdff, #f7cad0ff, #fae0e4ff);
$gradient-pink-bottom: linear-gradient(180deg, #af3156ff, #d33b69ff, #ff477eff, #ff7096ff, #ff99acff, #fbb1bdff, #f7cad0ff, #fae0e4ff);
$gradient-pink-left: linear-gradient(270deg, #af3156ff, #d33b69ff, #ff477eff, #ff7096ff, #ff99acff, #fbb1bdff, #f7cad0ff, #fae0e4ff);
$gradient-pink-top-right: linear-gradient(45deg, #af3156ff, #d33b69ff, #ff477eff, #ff7096ff, #ff99acff, #fbb1bdff, #f7cad0ff, #fae0e4ff);
$gradient-pink-bottom-right: linear-gradient(135deg, #af3156ff, #d33b69ff, #ff477eff, #ff7096ff, #ff99acff, #fbb1bdff, #f7cad0ff, #fae0e4ff);
$gradient-pink-top-left: linear-gradient(225deg, #af3156ff, #d33b69ff, #ff477eff, #ff7096ff, #ff99acff, #fbb1bdff, #f7cad0ff, #fae0e4ff);
$gradient-pink-bottom-left: linear-gradient(315deg, #af3156ff, #d33b69ff, #ff477eff, #ff7096ff, #ff99acff, #fbb1bdff, #f7cad0ff, #fae0e4ff);
$gradient-pink-radial: radial-gradient(#af3156ff, #d33b69ff, #ff477eff, #ff7096ff, #ff99acff, #fbb1bdff, #f7cad0ff, #fae0e4ff);
/* SCSS Gradient */
$gradient-yellow-top: linear-gradient(0deg, #ff9500ff, #ffa200ff, #ffaa00ff, #ffb700ff, #ffc300ff, #ffd000ff, #ffdd00ff, #ffea00ff);
$gradient-yellow-right: linear-gradient(90deg, #ff9500ff, #ffa200ff, #ffaa00ff, #ffb700ff, #ffc300ff, #ffd000ff, #ffdd00ff, #ffea00ff);
$gradient-yellow-bottom: linear-gradient(180deg, #ff9500ff, #ffa200ff, #ffaa00ff, #ffb700ff, #ffc300ff, #ffd000ff, #ffdd00ff, #ffea00ff);
$gradient-yellow-left: linear-gradient(270deg, #ff9500ff, #ffa200ff, #ffaa00ff, #ffb700ff, #ffc300ff, #ffd000ff, #ffdd00ff, #ffea00ff);
$gradient-yellow-top-right: linear-gradient(45deg, #ff9500ff, #ffa200ff, #ffaa00ff, #ffb700ff, #ffc300ff, #ffd000ff, #ffdd00ff, #ffea00ff);
$gradient-yellow-bottom-right: linear-gradient(135deg, #ff9500ff, #ffa200ff, #ffaa00ff, #ffb700ff, #ffc300ff, #ffd000ff, #ffdd00ff, #ffea00ff);
$gradient-yellow-top-left: linear-gradient(225deg, #ff9500ff, #ffa200ff, #ffaa00ff, #ffb700ff, #ffc300ff, #ffd000ff, #ffdd00ff, #ffea00ff);
$gradient-yellow-bottom-left: linear-gradient(315deg, #ff9500ff, #ffa200ff, #ffaa00ff, #ffb700ff, #ffc300ff, #ffd000ff, #ffdd00ff, #ffea00ff);
$gradient-yellow-radial: radial-gradient(#ff9500ff, #ffa200ff, #ffaa00ff, #ffb700ff, #ffc300ff, #ffd000ff, #ffdd00ff, #ffea00ff);

/* SCSS Gradient */
$gradient-blue-top: linear-gradient(0deg, #003388ff, #004499ff, #0055aaff, #0066bbff, #0077ccff, #1188ddff, #2299eeff, #33aaffff);
$gradient-blue-right: linear-gradient(90deg, #003388ff, #004499ff, #0055aaff, #0066bbff, #0077ccff, #1188ddff, #2299eeff, #33aaffff);
$gradient-blue-bottom: linear-gradient(180deg, #003388ff, #004499ff, #0055aaff, #0066bbff, #0077ccff, #1188ddff, #2299eeff, #33aaffff);
$gradient-blue-left: linear-gradient(270deg, #003388ff, #004499ff, #0055aaff, #0066bbff, #0077ccff, #1188ddff, #2299eeff, #33aaffff);
$gradient-blue-top-right: linear-gradient(45deg, #003388ff, #004499ff, #0055aaff, #0066bbff, #0077ccff, #1188ddff, #2299eeff, #33aaffff);
$gradient-blue-bottom-right: linear-gradient(135deg, #003388ff, #004499ff, #0055aaff, #0066bbff, #0077ccff, #1188ddff, #2299eeff, #33aaffff);
$gradient-blue-top-left: linear-gradient(225deg, #003388ff, #004499ff, #0055aaff, #0066bbff, #0077ccff, #1188ddff, #2299eeff, #33aaffff);
$gradient-blue-bottom-left: linear-gradient(315deg, #003388ff, #004499ff, #0055aaff, #0066bbff, #0077ccff, #1188ddff, #2299eeff, #33aaffff);
$gradient-blue-radial: radial-gradient(#003388ff, #004499ff, #0055aaff, #0066bbff, #0077ccff, #1188ddff, #2299eeff, #33aaffff);

:root {}