$color_1: #999;
$color_2: #fff;
$color_3: #ddd;
$color_4: rgba(255, 255, 255, .7);
$color_5: rgba(255, 255, 255, 1);
$color_6: #666;
$color_7: rgba(255, 255, 255, .9);
$color_8: #ccc;
$color_9: #333;
$color_10: #aaa;
$color_11: inherit;
$color_12: #222;
$color_13: #eee;
$color_14: #000;
$color_15: #bf2c0f;
$color_16: #488a2b;
$color_17: #444;
$color_18: red;
$color_19: #900;
$color_20: #b94a48;
$color_21: transparent;
$color_22: #e27730;
$color_23: rgba(0, 0, 0, .1);
$color_24: #f0f0f1;
$color_25: #c3c4c7;
$color_26: #72aee6;
$color_27: #a7aaad;
$color_28: rgba(240, 246, 252, .6);
$color_29: rgba(240, 246, 252, .7);
$color_30: #2c3338;
$color_31: #2271b1;
$color_32: #269e58;
$color_33: #006799;
$color_34: #111;
$color_35: #888;
$color_36: currentColor;
$color_37: #f2f4f6;
$color_38: #5d5b5b;
$color_39: var(--swiper-navigation-color, var(--swiper-theme-color));
$color_40: #1e81ce;
$color_41: #b1bbc2;
$color_42: rgba(255, 255, 255, .8);
$color_43: #47b965;
$color_44: #616770;
$color_45: #385898;
$color_46: #1e1e1e;
$color_47: #00838f;
$color_48: #757280;
$color_49: #21759b;
$color_50: rgb(51, 51, 51);
$color_51: rgb(153, 153, 153);
$color_52: #212529;
$color_53: #007bff;
$color_54: #0056b3;
$color_55: #6c757d;
$color_56: #e83e8c;
$color_57: #495057;
$color_58: #28a745;
$color_59: #dc3545;
$color_60: #17a2b8;
$color_61: #ffc107;
$color_62: #f8f9fa;
$color_63: #343a40;
$color_64: #16181b;
$color_65: rgba(0, 0, 0, .9);
$color_66: rgba(0, 0, 0, .5);
$color_67: rgba(0, 0, 0, .7);
$color_68: rgba(0, 0, 0, .3);
$color_69: rgba(255, 255, 255, .5);
$color_70: rgba(255, 255, 255, .75);
$color_71: rgba(255, 255, 255, .25);
$color_72: #004085;
$color_73: #002752;
$color_74: #383d41;
$color_75: #202326;
$color_76: #155724;
$color_77: #0b2e13;
$color_78: #0c5460;
$color_79: #062c33;
$color_80: #856404;
$color_81: #533f03;
$color_82: #721c24;
$color_83: #491217;
$color_84: #818182;
$color_85: #686868;
$color_86: #1b1e21;
$color_87: #040505;
$color_88: #494f54;
$color_89: #19692c;
$color_90: #0f6674;
$color_91: #ba8b00;
$color_92: #a71d2a;
$color_93: #cbd3da;
$color_94: #121416;
$font-family_1: "Open Sans", Helvetica, Arial, sans-serif;
$font-family_2: dashicons;
$font-family_3: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-family_4: Tahoma, sans-serif;
$font-family_5: Arial, sans-serif;
$font-family_6: swiper-icons;

$font-family_9: Helvetica Neue, Helvetica, Arial, sans-serif;
$font-family_10: arial, sans-serif;
$font-family_11: Nunito Sans;
$font-family_12: sans-serif;
$font-family_13: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family_14: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family_15: inherit;
$background-color_1: #000;
$background-color_2: rgba(0, 0, 0, .5);
$background-color_3: #fff;
$background-color_4: #eee;
$background-color_5: #ddd;
$background-color_6: #f9f9f9;
$background-color_7: #f2dede;
$background-color_8: #ccc;
$background-color_9: red;
$background-color_10: lightgrey;
$background-color_11: rgba(10, 10, 10, .2);
$background-color_12: rgba(10, 10, 10, .3);
$background-color_13: #3273dc;
$background-color_14: #23d160;
$background-color_15: #ffdd57;
$background-color_16: #ff3860;
$background-color_17: #d63638;
$background-color_18: rgba(255, 255, 255, 0);
$background-color_19: rgba(255, 255, 255, .9);
$background-color_20: #E8E8E8;
$background-color_21: rgba(0, 0, 0, .1);
$background-color_22: #f0f3f8;
$background-color_23: transparent;
$background-color_24: #f1f1f1;
$background-color_25: rgb(255, 255, 255);
$background-color_26: #fcf8e3;
$background-color_27: #212529;
$background-color_28: rgba(0, 0, 0, .05);
$background-color_29: rgba(0, 0, 0, .075);
$background-color_30: #b8daff;
$background-color_31: #9fcdff;
$background-color_32: #d6d8db;
$background-color_33: #c8cbcf;
$background-color_34: #c3e6cb;
$background-color_35: #b1dfbb;
$background-color_36: #bee5eb;
$background-color_37: #abdde5;
$background-color_38: #ffeeba;
$background-color_39: #ffe8a1;
$background-color_40: #f5c6cb;
$background-color_41: #f1b0b7;
$background-color_42: #fdfdfe;
$background-color_43: #ececf6;
$background-color_44: #c6c8ca;
$background-color_45: #b9bbbe;
$background-color_46: #343a40;
$background-color_47: #e9ecef;
$background-color_48: rgba(255, 255, 255, .05);
$background-color_49: rgba(255, 255, 255, .075);
$background-color_50: rgba(40, 167, 69, .9);
$background-color_51: #34ce57;
$background-color_52: rgba(220, 53, 69, .9);
$background-color_53: #e4606d;
$background-color_54: #007bff;
$background-color_55: #0069d9;
$background-color_56: #0062cc;
$background-color_57: #6c757d;
$background-color_58: #5a6268;
$background-color_59: #545b62;
$background-color_60: #28a745;
$background-color_61: #218838;
$background-color_62: #1e7e34;
$background-color_63: #17a2b8;
$background-color_64: #138496;
$background-color_65: #117a8b;
$background-color_66: #ffc107;
$background-color_67: #e0a800;
$background-color_68: #d39e00;
$background-color_69: #dc3545;
$background-color_70: #c82333;
$background-color_71: #bd2130;
$background-color_72: #f8f9fa;
$background-color_73: #e2e6ea;
$background-color_74: #dae0e5;
$background-color_75: #23272b;
$background-color_76: #1d2124;
$background-color_77: #b3d7ff;
$background-color_78: rgba(0, 123, 255, .5);
$background-color_79: #adb5bd;
$background-color_80: #dee2e6;
$background-color_81: rgba(0, 0, 0, .03);
$background-color_82: #cce5ff;
$background-color_83: #e2e3e5;
$background-color_84: #d4edda;
$background-color_85: #d1ecf1;
$background-color_86: #fff3cd;
$background-color_87: #f8d7da;
$background-color_88: #fefefe;
$background-color_89: #d6d8d9;
$background-color_90: #004085;
$background-color_91: #383d41;
$background-color_92: #155724;
$background-color_93: #0c5460;
$background-color_94: #856404;
$background-color_95: #721c24;
$background-color_96: #818182;
$background-color_97: #1b1e21;
$background-color_98: rgba(255, 255, 255, .85);
$background-color_99: #f7f7f7;
$background-color_100: currentColor;
$background-color_101: rgba(0, 0, 0, 0);
$border-color_1: #ddd;
$border-color_2: #e27730;
$border-color_3: #666;
$border-color_4: transparent transparent transparent transparent;
$border-color_5: #3273dc;
$border-color_6: #23d160;
$border-color_7: #ffdd57;
$border-color_8: #ff3860;
$border-color_9: #7abaff;
$border-color_10: #b3b7bb;
$border-color_11: #8fd19e;
$border-color_12: #86cfda;
$border-color_13: #ffdf7e;
$border-color_14: #ed969e;
$border-color_15: #fbfcfc;
$border-color_16: #95999c;
$border-color_17: #454d55;
$border-color_18: #dee2e6;
$border-color_19: #80bdff;
$border-color_20: #28a745;
$border-color_21: #34ce57;
$border-color_22: #dc3545;
$border-color_23: #e4606d;
$border-color_24: #007bff;
$border-color_25: #0062cc;
$border-color_26: #005cbf;
$border-color_27: #6c757d;
$border-color_28: #545b62;
$border-color_29: #4e555b;
$border-color_30: #1e7e34;
$border-color_31: #1c7430;
$border-color_32: #17a2b8;
$border-color_33: #117a8b;
$border-color_34: #10707f;
$border-color_35: #ffc107;
$border-color_36: #d39e00;
$border-color_37: #c69500;
$border-color_38: #bd2130;
$border-color_39: #b21f2d;
$border-color_40: #f8f9fa;
$border-color_41: #dae0e5;
$border-color_42: #d3d9df;
$border-color_43: #343a40;
$border-color_44: #1d2124;
$border-color_45: #171a1d;
$border-color_46: #b3d7ff;
$border-color_47: transparent;
$border-color_48: #e9ecef #e9ecef #dee2e6;
$border-color_49: #dee2e6 #dee2e6 #fff;
$border-color_50: rgba(0, 0, 0, .1);
$border-color_51: rgba(255, 255, 255, .1);
$border-color_52: #b8daff;
$border-color_53: #d6d8db;
$border-color_54: #c3e6cb;
$border-color_55: #bee5eb;
$border-color_56: #ffeeba;
$border-color_57: #f5c6cb;
$border-color_58: #fdfdfe;
$border-color_59: #c6c8ca;
$border-color_60: #004085;
$border-color_61: #383d41;
$border-color_62: #155724;
$border-color_63: #0c5460;
$border-color_64: #856404;
$border-color_65: #721c24;
$border-color_66: #818182;
$border-color_67: #1b1e21;
$border-color_68: #fff;
$border-top-color_1: transparent;
$border-top-color_2: #9fcdff;
$border-top-color_3: #c8cbcf;
$border-top-color_4: #b1dfbb;
$border-top-color_5: #abdde5;
$border-top-color_6: #ffe8a1;
$border-top-color_7: #f1b0b7;
$border-top-color_8: #ececf6;
$border-top-color_9: #b9bbbe;
$border-top-color_10: #000;
$border-top-color_11: rgba(0, 0, 0, .25);
$border-top-color_12: #fff;
$border-right-color_1: #000;
$border-right-color_2: rgba(0, 0, 0, .25);
$border-right-color_3: #fff;
$border-right-color_4: transparent;
$border-bottom-color_1: #fff;
$border-bottom-color_2: #000;
$border-bottom-color_3: rgba(0, 0, 0, .25);
$border-left-color_1: #000;
$border-left-color_2: rgba(0, 0, 0, .25);
$border-left-color_3: #fff;